.arrowBack {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2rem;
    height: 2rem;
    background-color: white;
    position: fixed;
    bottom: .8rem;
    right: .4rem;
    border-radius: 25px;
}

@media only screen and (min-width: 600px) {
        .arrowBack {
            width: 4rem;
            height: 4rem;
            border-radius: 50px;
            bottom: 2rem;
            right: 2rem;
        }

        svg {
            width: 4rem;
            height: 2rem;
            color: #144272;
        }
    }
