.mainWrapper {
    width: 100vw;
    background: linear-gradient(to bottom, rgb(0, 0, 248), rgb(39, 161, 198));
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

p {
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(255, 255, 255);
    background-color: rgb(255, 0, 0, 0.8);
    border-radius: 15px;
    margin: 13px 2px;
    height: 2rem;
    width: 333px;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;

}

section {
    display: flex;
    align-items: center;
    justify-content: center;
}

@media only screen and (min-width: 600px) {
    .mainWrapper {
        flex-direction: row;
        flex-wrap: wrap;
        height: 100vh;
    }

    p {
        width: 6rem;
        height: 10rem;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 5px;
        font-weight: 200;
        padding: 0 2px;
        margin: 7px;
    }
  }

