.mainWrapper {
  width: 100vw;
  min-height: 100vh;
  background: #0a2647;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}

.LessonContainer {
  width: 100%;
  max-width: 1000px;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
}

p {
  color: rgb(255, 255, 255);
  background-color: #144272;
  height: 7rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 7px;
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
  font-weight: 300;
  -webkit-box-shadow: 8px 11px 12px -3px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 8px 11px 12px -3px rgba(0, 0, 0, 0.5);
  box-shadow: 8px 11px 12px -3px rgba(0, 0, 0, 0.5);
  transition: 0.2s ease-in-out;

  border-radius: 5px;
}

p:hover {
  transform: translateY(-3px);
}

@media (max-width: 1366px) {
  .LessonContainer {
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
  }
}

@media (max-width: 992px) {
  .LessonContainer {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    padding: 1.5rem;
  }
}
@media (max-width: 800px) {
  .LessonContainer {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    padding: 1.5rem;
  }
}
