body {
    background: linear-gradient(to bottom, rgb(0, 0, 248), rgb(39, 161, 198));
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.QuestionContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 20rem;
    height: 5rem;
    padding: 5px 0;
    background-color: rgb(0, 0, 0, 0.5);
    border-radius: 25px;
    margin: 0.5rem 0;
}

h4 {
    color: white;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 0.5rem;
    font-size: 12px;
    font-weight: 400;

}

input {
    font-family: 'Poppins', sans-serif;
    border: none;
	margin-bottom: 15px;
    margin-right: 5px;
	border-radius: 50px;
    outline: none;
    height: 1.5rem;
    padding: 5px;
    max-width: 9rem;
}
