body {
    height: 100vh;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background:  rgb(39, 161, 198);
}

.QuestionContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    background: rgba(51, 67, 213, 0.8);
    position: relative;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 20rem;
    height: 5rem;
    padding: 5px 0;
    background-color: rgba(38, 0, 255);
    border-radius: 25px;
    margin: 0.5rem 0;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

h4 {
    color: white;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 0.5rem;
    font-size: 12px;
    font-weight: 400;

}

input {
    font-family: 'Poppins', sans-serif;
    border: none;
	margin-bottom: 15px;
    margin-right: 5px;
	border-radius: 50px;
    outline: none;
    height: 1.5rem;
    padding: 5px;
    max-width: 9rem;
}

@media only screen and (min-width: 600px) {
    .QuestionContainer {
        flex-direction: row;
        flex-wrap: wrap;
        min-height: 100vh;
        width: 100%;
    }

    .box {
        width: 24rem;
        height: 8rem;
        border-radius: 10px;
        margin: 2rem;

    }
    }