* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.QuestionContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  background: #0a2647;
  position: relative;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 20rem;
  height: 5rem;

  padding: 10px;
  background-color: #144272;
  margin: 0.5rem 0;
  border-radius: 0 !important;
  -webkit-box-shadow: 8px 11px 12px -3px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 8px 11px 12px -3px rgba(0, 0, 0, 0.75);
  box-shadow: 8px 11px 12px -3px rgba(0, 0, 0, 0.75);
}

h4 {
  color: white;
  font-family: "Poppins", sans-serif;
  margin-bottom: 0.5rem;
  font-size: 13px;
  font-weight: 300;
}

input {
  font-family: "Poppins", sans-serif;
  border: none;
  margin-bottom: 15px;
  margin-right: 5px;
  outline: none;
  height: 1.5rem;
  padding: 5px;
  max-width: 9rem;
  background: none;
  border-bottom: 1px solid white;
  color: white;
  font-weight: 300;
}

@media only screen and (min-width: 600px) {
  .QuestionContainer {
    flex-direction: row;
    flex-wrap: wrap;
    min-height: 100vh;
    width: 100%;
  }

  .box {
    width: 24rem;
    height: 8rem;
    border-radius: 10px;
    margin: 2rem;
  }
}
